.App{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .header{
margin-bottom: 2rem;
}
.App .player_turn{
  background-color: #eee;
  padding:0.5rem 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.App .player_turn h2{
  margin: 0;
}
.App .player_turn label{
  color:#3B5998;
}

.App .reset_wrapper{
  display: flex;
  flex-direction: column;
  height:2rem;
}

.App .reset_wrapper button{
  cursor: pointer;
  padding:0.5rem 1.2rem;
  border-radius: 1rem;
  border:none;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}
.App .reset_wrapper button:hover{
  box-shadow: 0 0 0.5rem gray;
}

h1{
  margin:0;
}

@media(max-width:990px){
  .App{
    margin-top: -5rem;
  }
}